@media (max-width: 992px) {
    // #sidebar {
    //     margin-left: 0 !important;
    //     width: 60px !important;
    //     min-width: 60px !important;
    //     transition: all 0.3s;
    // }
    // #content {
    //     padding-left: 60px !important;
    //     transition: all 0.3s;
    // }
    // .sidebar-toggle { display: block !important; }
   // .top-navbar .navbar-brand { display: none; }
}

@media (max-width: 576px) {
    .top-navbar .search-form {
        display: none !important;
    }
}
